<!DOCTYPE html>
<html lang="en-US" ng-app="couponsApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Digital Coupon Center</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/web.css?t=1525878033494">
    <script src="js/libs/angular.min.js?t=1525878033494"></script>
    <script src="https://www.shoprite.com/menufeed/header-wakefern-microsites/"></script>
</head>
<body>
<div class="header-ad">
    <script type="text/javascript">
        var googletag = googletag || {};            googletag.cmd = googletag.cmd || [];            (function() {                var gads = document.createElement('script');                gads.async = true;                gads.type = 'text/javascript';                var useSSL = 'https:' == document.location.protocol;                gads.src = (useSSL ? 'https:' : 'http:') +                    '//www.googletagservices.com/tag/js/gpt.js';                var node = document.getElementsByTagName('script')[0];                node.parentNode.insertBefore(gads, node);            })();


    </script>
    <div id="div-gpt-ad-CouponPage-1">
        <script type="text/javascript">
            googletag.cmd.push(function() {                    googletag.defineSlot('/4644/mwl.shoprite.www', [728, 90], 'div-gpt-ad-CouponPage-1')                        .addService(googletag.pubads())                        .setTargeting("page", "14")                        .setTargeting("sdn", "plan")                        .setTargeting("dn", "shoprite.com")                        .setTargeting("pos", "1")                        .setTargeting("tile", "1")                        .setTargeting("plat", "p2g")                        .setTargeting("a", "v1.0.0||22|")                    googletag.enableServices();                    googletag.display('div-gpt-ad-CouponPage-1');                });


        </script>
    </div>
</div>
<div class="coupon-app">
    <hr class="hide-on-mobile">
    <div class="container"><h2 id="coupon-center-title">Digital Coupon Center</h2>
        <div class="coupon-center-info">
            <ul class="coupon-center-info-links">
                <li><a href="https://www.shoprite.com/online-coupons/coupon-policy/">Our Coupon Policy</a></li>&nbsp;|&nbsp;<li>
                <a href="https://www.shoprite.com/digital-coupon-faqs/">Digital Coupon FAQ</a></li>&nbsp;|&nbsp;<li><a
                    href="https://www.shoprite.com/digi-cpn-info/">New to Digital Coupons</a></li>
            </ul>
            <p>Sign in or create a ShopRite.com account to load these coupons to your Price Plus club card. The offers
                you select will automatically be added to your card and will remain on your shopping list and card until
                they are redeemed or they expire. Coupons do not double or triple. <strong>Please keep in mind that each
                    coupon may only be loaded onto your Price Plus® Club card once and is valid for a single, one-time
                    purchase only. Digital Coupons cannot be combined with other digital coupons on the same item.
                    ShopRite is not responsible for typographical errors including coupon value, picture (or image) of
                    product, coupon description and sizes.</strong></p></div>
        <div ng-controller="CouponController" ng-cloak>
            <ul class="nav nav-tabs coupon-tabs">
                <li ng-repeat="tab in tabs" ng-if="tab.auth ? tab.auth === customer.loggedIn : true"
                    ng-class="{ active: selectedTab === tab }"><a ng-click="onTabChange(tab)">{{ tab.title }}</a></li>
                <li class="dropdown clipped-coupons-tab" ng-if="customer.loggedIn"
                    ng-class="{ active: selectedTab === 'Coupon History' }"><a class="dropdown-toggle"
                                                                               data-toggle="dropdown">Coupon History
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="handleClippedCouponsTab('clipped_active_ids')">Clipped Coupons</a></li>
                        <li><a ng-click="handleClippedCouponsTab('clipped_redeemed_ids')">Redeemed Coupons</a></li>
                        <li><a ng-click="handleClippedCouponsTab('clipped_expired_ids')">Expired Coupons</a></li>
                    </ul>
                </li>
            </ul>
            <div class="show-on-mobile">
                <div class="coupon-savings-count-mobile"><h5><strong>{{ coupons.length || 0 }}</strong> coupon(s) |
                    <strong>{{ totalSavings() | currency }}</strong> savings</h5>
                    <open-mobile-filters-btn></open-mobile-filters-btn>
                </div>
                <div class="form-group coupon-tabs-mobile"><select class="form-control input-sm" ng-model="selectedTab"
                                                                   ng-options="tab.title for tab in mobileTabs | filter: filterAuthTabs"
                                                                   ng-change="onTabChange()"></select></div>
                <div class="row" ng-show="initialCoupons.length">
                    <div class="coupon-list-options coupon-list-option-pages col-sm-9 col-sm-offset-3">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" ng-class="{disabled: currentPage === 0}"
                                            ng-click="firstPage($event)">First
                                    </button>
                                    <button class="btn btn-default btn-sm" ng-class="{disabled: currentPage === 0}"
                                            ng-click="previousPage($event)">Previous
                                    </button>
                                </div>
                                <div class="page-number"><strong>{{ totalPages ? currentPage + 1 : currentPage
                                    }}</strong>/ <strong>{{ totalPages }}</strong></div>
                                <button class="btn btn-default btn-sm"
                                        ng-class="{disabled: currentPage === totalPages-1 || totalPages <= 1}"
                                        ng-click="nextPage($event)">Next
                                </button>
                                <button class="btn btn-default btn-sm" ng-show="numPerPage === COUPONS_PER_PAGE"
                                        ng-click="onShowAll($event)">Show All
                                </button>
                                <button class="btn btn-default btn-sm" ng-click="onReset($event)"
                                        ng-show="numPerPage !== COUPONS_PER_PAGE">Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row hide-on-mobile">
                <div class="col-sm-3">
                    <div class="coupon-savings-count"><h5><strong>{{ coupons.length || 0 }}</strong> coupon(s)</h5><h5>
                        <strong>{{ totalSavings() | currency }}</strong> savings</h5></div>
                </div>
                <div class="col-sm-9">
                    <div class="coupon-list-options text-right" ng-show="initialCoupons.length">
                        <form class="form-inline" ng-submit="searchCoupons($event)">
                            <div class="form-group sort"><select class="form-control input-sm sorting-options"
                                                                 ng-model="selectedSort"
                                                                 ng-options="sort.name for sort in sorts track by sort.name"
                                                                 ng-change="onSortChange()"></select></div>
                            <div class="form-group">
                                <div class="input-group"><input class="form-control input-sm" type="text"
                                                                placeholder="Enter your search..." ng-model="searchText"
                                                                ng-focus="searchText = ''"> <span
                                        class="input-group-btn"><input class="form-control input-sm search-btn"
                                                                       type="submit" value="Search"></span></div>
                            </div>
                            <div class="form-group coupon-list-option-pages">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" ng-class="{disabled: currentPage === 0}"
                                            ng-click="firstPage($event)">First
                                    </button>
                                    <button class="btn btn-default btn-sm" ng-class="{disabled: currentPage === 0}"
                                            ng-click="previousPage($event)">Previous
                                    </button>
                                </div>
                                <div class="page-number"><strong>{{ totalPages ? currentPage + 1 : currentPage
                                    }}</strong>/ <strong>{{ totalPages }}</strong></div>
                                <button class="btn btn-default btn-sm"
                                        ng-class="{disabled: currentPage === totalPages-1 || totalPages <= 1}"
                                        ng-click="nextPage($event)">Next
                                </button>
                                <button class="btn btn-default btn-sm" ng-show="numPerPage === COUPONS_PER_PAGE"
                                        ng-click="onShowAll($event)">Show All
                                </button>
                                <button class="btn btn-default btn-sm" ng-click="onReset($event)"
                                        ng-show="numPerPage !== COUPONS_PER_PAGE">Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hidden-xs col-sm-3 coupon-sidebar-container">
                    <div class="coupon-sidebar"
                         ng-class="{ 'coupon-sidebar-scrollbar': numPerPage !== initialCoupons.length }">
                        <hr>
                        <div class="sidebar-header-container"><h5 class="sidebar-header">Categories</h5><a
                                class="sidebar-header sidebar-clear" ng-show="categories.length"
                                ng-click="clearCategories()">Clear</a></div>
                        <div ng-repeat="category in categories"><label><input type="checkbox"
                                                                              ng-model="categories[$index].selected"
                                                                              ng-change="onCategoryChange()"> {{
                            category.name }} ({{ category.count }})</label></div>
                        <hr>
                        <div class="sidebar-header-container"><h5 class="sidebar-header">Brands</h5><a
                                class="sidebar-header sidebar-clear" ng-show="categories.length"
                                ng-click="clearBrands()">Clear</a></div>
                        <div ng-repeat="brand in brands"><label><input type="checkbox"
                                                                       ng-model="brands[$index].selected"
                                                                       ng-change="onBrandChange()"> {{ brand.name |
                            trusted }} ({{ brand.count }})</label></div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="coupon-list">
                        <div class="loading-msg-container" ng-hide="coupons"><h3>Loading...</h3></div>
                        <div class="no-coupons-msg-container" ng-show="coupons.length === 0"><h3>No coupons match your
                            search.</h3></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 coupon-item-container" ng-show="coupons"
                             ng-repeat="coupon in coupons | orderBy : selectedSort.orderBy : selectedSort.reverse | limitTo: numPerPage : currentPage * numPerPage">
                            <div class="coupon-item">
                                <div class="coupon-value"><p>{{ coupon.value | currency }}</p></div>
                                <img ng-if="coupon.tags.indexOf('PROMO2') > -1" class="promo-img"
                                     src="../../images/club-size-savings.jpg" alt="club size savings icon"> <img
                                    ng-if="coupon.targeting_buckets.indexOf('ForYou') > -1" class="promo-img"
                                    src="../../images/for-you.png" alt="for you icon">
                                <div class="coupon-img-container"><img ng-show="coupon.clipped"
                                                                       class="img-responsive clipped-coupon-circle"
                                                                       src="../../images/circle.png"
                                                                       alt="clipped coupon circle"> <img
                                        class="img-responsive coupon-img center-block"
                                        ng-src="https://cdnws.softcoin.com/{{ coupon.image_url }}"></div>
                                <div class="coupon-item-description"><h4 class="coupon-brand-name">{{ coupon.brand_name
                                    | trusted }}</h4><h5 data-toggle="popover"
                                                         data-content="{{coupon.short_description + ' ' + coupon.requirement_description | trusted}}"
                                                         data-placement="top">{{ coupon.short_description + ' ' +
                                    coupon.requirement_description | trusted }}</h5><h6>Expire{{
                                    isDatePassed(coupon.expiration_date) ? 'd' : 's' }}: {{ coupon.expiration_date
                                    }}</h6></div>
                                <hr>
                                <load-to-card-btn class="load-to-card-btn" coupon="coupon"
                                                  initial-coupons="initialCoupons"></load-to-card-btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-show="coupons.length"
                     class="coupon-list-options coupon-list-option-pages col-sm-9 col-sm-offset-3">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" ng-class="{disabled: currentPage === 0}"
                                        ng-click="firstPage($event)">First
                                </button>
                                <button class="btn btn-default btn-sm" ng-class="{disabled: currentPage === 0}"
                                        ng-click="previousPage($event)">Previous
                                </button>
                            </div>
                            <div class="page-number"><strong>{{ totalPages ? currentPage + 1 : currentPage }}</strong>/
                                <strong>{{ totalPages }}</strong></div>
                            <button class="btn btn-default btn-sm"
                                    ng-class="{disabled: currentPage === totalPages-1 || totalPages <= 1}"
                                    ng-click="nextPage($event)">Next
                            </button>
                            <button class="btn btn-default btn-sm" ng-show="numPerPage === COUPONS_PER_PAGE"
                                    ng-click="onShowAll($event)">Show All
                            </button>
                            <button class="btn btn-default btn-sm" ng-click="onReset($event)"
                                    ng-show="numPerPage !== COUPONS_PER_PAGE">Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <scroll-to-top-btn></scroll-to-top-btn>
            <div class="mobile-sort-filter-options-container">
                <div class="gray-overlay" ng-click="closeMobileFilters()"></div>
                <div class="mobile-sort-filter-options">
                    <div class="top-row">
                        <button class="mobile-filters-btn clear-filters-btn" ng-click="clearFiltersAndSearch()"><h1>
                            Clear Filters</h1></button>
                        <button class="mobile-filters-btn done-btn" ng-click="closeMobileFilters()"><h1>Done</h1>
                        </button>
                    </div>
                    <div class="inner-options-container">
                        <div class="inner-options">
                            <div class="coupon-list-options" ng-show="initialCoupons.length">
                                <form class="form-inline" ng-submit="searchCoupons($event)">
                                    <div class="form-group"><label>Sort by:</label><select
                                            class="form-control input-sm sorting-options" ng-model="selectedSort"
                                            ng-options="sort.name for sort in sorts track by sort.name"
                                            ng-change="onSortChange()"></select></div>
                                    <div class="form-group"><label>Search:</label>
                                        <div class="input-group"><input class="form-control input-sm" type="text"
                                                                        placeholder="Enter your search..."
                                                                        ng-model="searchText"
                                                                        ng-focus="searchText = ''"> <span
                                                class="input-group-btn"><input class="form-control input-sm search-btn"
                                                                               type="submit" value="Search"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="sidebar-header-container"><label class="sidebar-header">Categories</label><a
                                    class="sidebar-header sidebar-clear" ng-click="clearCategories()">Clear</a></div>
                            <div class="categories-container" ng-repeat="category in categories"><label><input
                                    type="checkbox" ng-model="categories[$index].selected"
                                    ng-change="onCategoryChange()"> {{ category.name }} ({{ category.count }})</label>
                            </div>
                            <div class="sidebar-header-container"><label class="sidebar-header">Brands</label><a
                                    class="sidebar-header sidebar-clear" ng-click="clearBrands()">Clear</a></div>
                            <div class="brands-container" ng-repeat="brand in brands"><label><input type="checkbox"
                                                                                                    ng-model="brands[$index].selected"
                                                                                                    ng-change="onBrandChange()">
                                {{ brand.name | trusted }} ({{ brand.count }})</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.shoprite.com/menufeed/footer-wakefern-microsites/"></script>
<script src="js/libs/MobileServices.Web-1.2.2.min.js?t=1525878033494"></script>
<script src="js/couponsAPI/couponsAPI.js?t=1525878033494"></script>
<script type="text/javascript">
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))            document.write('<script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"><\/script>');


</script>
<script src="js/libs/promiseAllPolyfill.js?t=1525878033494"></script>
<script src="scripts/web.js?t=1525878033494"></script>
<script>
    (function (i, s, o, g, r, a, m) {            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {                (i[r].q = i[r].q || []).push(arguments);            }, i[r].l = 1 * new Date(); a = s.createElement(o),            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');        ga('create', 'UA-44173231-1', 'auto');        ga('send', 'pageview');


</script>
</body>
</html>